@use '@angular/material' as mat;
@import "../imports";

.toast-container {
    position: fixed;
    z-index: 9999;
    bottom: $gap;
    right: 0;
    width: 320px;
    max-width: calc(100vw - #{$gap * 2});
}

.toast {
    font: $font;
    background: $bg-toast;
    color: $light-secondary-text;
    @include mat.elevation(6);
    border-radius: 4px 0 0 4px;
    padding: 14px $gap;
    cursor: pointer;

    & + & {
        margin-top: 10px;
    }

    &--error {
        color: $color-warn-lighter;
        font-weight: $font-weight-bolder;
    }

    &--success {
        color: map_get($mat-green, 400);
    }
}
