@import "imports";

.rectangle-box {
  border: dashed 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  position: relative;
  border-radius: 4px;
}

.resize-handle-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
