<h2>{{ 'Rectangle perimeter: ' + perimeter }}</h2>

  <div
    class="rectangle-box"
    [style.width.px]="width"
    [style.height.px]="height"
    mwlResizable
    [validateResize]="validate.bind(this)"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{ left: 1, right: 1 }"
    (resizeEnd)="onResizeEnd($event)">
    <svg attr.height="{{height + 10}}px" attr.width="{{width + 10}}px">
      <g stroke="black" fill="transparent">
          <rect [attr.width]="width" [attr.height]="height" rx="10" style="stroke-width:10; stroke:black"></rect>
        </g> 
      </svg>
      <i class="material-icons resize-handle-bottom-right"
      mwlResizeHandle
      [resizeEdges]="{ bottom: true, right: true }">zoom_out_map</i>
  </div>
 