@import "@angular/material/theming";

$colorset-primary: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #878787,
    300 : #5b5b5b,
    400 : #3b3b39,
    500 : #1a1a1a,
    600 : #141414,
    700 : #0e0e0e,
    800 : #090909,
    900 : #040404,
    A100 : #8c8c8c,
    A200 : #595959,
    A400 : #262626,
    A700 : #0d0d0d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$colorset-accent: (
    50 : #e8f5e9,
    100 : #c8e6c9,
    200 : #a5d6a7,
    300 : #81c784,
    400 : #6ab340,
    500 : #569d33,
    600 : #43a047,
    700 : #388e3c,
    800 : #2e7d32,
    900 : #1b5e20,
    A100 : #b9f6ca,
    A200 : #69f0ae,
    A400 : #00e676,
    A700 : #00c853,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$colorset-warn: (
    50 : #fae0e4,
    100 : #f3b3bb,
    200 : #eb808e,
    300 : #e24d60,
    400 : #dc263e,
    500 : #d6001c,
    600 : #d10019,
    700 : #cc0014,
    800 : #c60011,
    900 : #bc0009,
    A100 : #ffe5e5,
    A200 : #ffb2b3,
    A400 : #ff7f81,
    A700 : #ff6568,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
