@use '@angular/material' as mat;
@import "./colorsets";
@import "./spacing";
@import "./typo";

$mat-light-theme-background: map-merge($mat-light-theme-background, (
    background: white,
));
$mat-light-theme-foreground: map-merge($mat-light-theme-foreground, (
    text: #53565a,
    secondary-text: #909090,
));

$palette-primary: mat.define-palette($colorset-primary);
$palette-accent: mat.define-palette($colorset-accent);
$palette-warn: mat.define-palette($colorset-warn, 500, 300);

$global-typography-level: mat.define-typography-level(
    $font-family: $font-family,
    $font-weight: $font-weight,
    $font-size: $font-size,
    $line-height: $line-height,
    $letter-spacing: normal,
);
$headline-typography-level: mat.define-typography-level($font-family: $font-family,
    $font-weight: $font-weight,
    $font-size: $font-size,
    $line-height: $line-height,
    $letter-spacing: -1px,
);
$typography-config: mat.define-typography-config(
    $headline-1: $headline-typography-level,
    $headline-2: $headline-typography-level,
    $headline-3: $headline-typography-level,
    $headline-4: $headline-typography-level,
    $headline-5: $headline-typography-level,
    $headline-6: $headline-typography-level,  
    $subtitle-1: $headline-typography-level,  
    $subtitle-2: $headline-typography-level,
    $body-1: $global-typography-level,
    $body-2: $global-typography-level,
    $caption: $global-typography-level,
    $button: $global-typography-level
);

$theme: mat.define-light-theme((color: (primary: $palette-primary,
        accent: $palette-accent,
        warn: $palette-warn,
    ),
    typography: $typography-config,
    density: 0,
));
$theme-dark: mat.define-dark-theme((color: (primary: $palette-primary,
        accent: $palette-accent,
        warn: $palette-warn,
    ),
    typography: $typography-config,
    density: 0,
));

$theme-background: map-get($theme, background);
$theme-foreground: map-get($theme, foreground);
