@import "../imports";

.color-primary {
    color: $color-primary !important;
}

.color-accent {
    color: $color-accent !important;
}

.color-warn {
    color: $color-warn !important;
}

.color-secondary {
    color: $color-secondary !important;
}
